---
// Utils
import { Picture, getImage } from "astro:assets";
import "@styles/services/service-2.css";
// Components
import BaseLayout from "@layouts/BaseLayout.astro";
import Banner from "@components/Banner/Banner.astro";
import CTA from "@components/CTA/CTASimple.astro";

// Images
import landingImage from "@assets/images/banner.webp"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src

import serviceTwoOneImg from "@assets/images/services/ServiceTwoOne.webp";
import serviceTwoTwoImg from "@assets/images/services/ServiceTwoTwo.webp";
import serviceTwoThreeImg from "@assets/images/services/ServiceTwoThree.webp";

const optimizedImage = await getImage({ src: landingImage, format: "webp" });
---

<BaseLayout title="Services" description="Meta description for the page" heroImage={optimizedImage}>
	<!-- ============================================ -->
	<!--                    BANNER                   -->
	<!-- ============================================ -->

	<Banner title="Service 2" image={optimizedImage} />

	<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Expertise</span>
            <h2 class="cs-title">Et harum quidem rerum facilis</h2>
            <p class="cs-text">
                Lorem fames nibh, quam justo nulla elementum ante ligula integer, cum magna ac minus odio. Ipsum sed semper sem libero lectus urna, cras arcu conubia molestie non. Sollicitudin fermentum tincidunt scelerisque vestibulum. Congue lectus mi.
            </p>
            <a href="/portfolio/" class="cs-button-solid">Explore Our Work</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Proin iaculis ipsum </h3>
                <Picture src={serviceTwoOneImg} alt="New home construction framing" layout="full-width" formats={["avif", "webp"]} pictureAttributes={{ class: "cs-picture" }} />
            </li>
            <li class="cs-item">
                <h3 class="cs-h3"> Lorem fames nibh</h3>
                <Picture src={serviceTwoTwoImg} alt="Home renovation in progress" layout="full-width" formats={["avif", "webp"]} pictureAttributes={{ class: "cs-picture" }} />
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Congue lectus mi.</h3>
                <Picture src={serviceTwoThreeImg} alt="Modern home addition and extension" layout="full-width" formats={["avif", "webp"]} pictureAttributes={{ class: "cs-picture" }} />
            </li>
        </ul>
    </div>
</section>
	
	<CTA />
</BaseLayout>


