---
// Utils
import { Icon } from "astro-icon/components";
import { getCurrentYear } from "@js/utils";
import "@styles/footer.css";

// Data
import { BUSINESS } from "@data/client";

const currentYear = getCurrentYear();
---

<footer id="cs-footer">
  <div class="cs-container">

    <!-- LEFT -->
    <div class="cs-left">
      <a class="cs-logo" href="/" aria-label="Return home">
        <Icon name="logo-white" />
      </a>
      <p class="cs-text">
        Extra content if you need it. Remove if not needed.
      </p>
    </div>

    <!-- RIGHT -->
    <div class="cs-right">

      <!-- INFORMATION -->
      <ul class="cs-list">
        <li class="cs-title">Information</li>

        <li><a href="/" class="cs-link">Home</a></li>
        <li><a href="/about/" class="cs-link">About Us</a></li>

        <li>
          <span class="cs-link">Projects</span>
          <ul class="cs-sublist">
            <li><a href="/projects/project-1/" class="cs-link">Project 1</a></li>
            <li><a href="/projects/project-2/" class="cs-link">Project 2</a></li>
          </ul>
        </li>

        <li><a href="/reviews/" class="cs-link">Reviews</a></li>
        <li><a href="/blog/" class="cs-link">Blog</a></li>
      </ul>

      <!-- SERVICES -->
      <ul class="cs-list">
        <li class="cs-title">Services</li>
        <li>Service 1</li>
        <li>Service 2</li>
        <li>Service 3</li>
        <li>Service 4</li>
      </ul>

      <!-- CONTACT -->
      <ul class="cs-list">
        <li class="cs-title">Contact</li>

        <li>
          <a href="/contact/" class="cs-link">
            {BUSINESS.address.lineOne}<br />
            {BUSINESS.address.lineTwo}<br />
            {BUSINESS.address.city} {BUSINESS.address.state} {BUSINESS.address.zip}
          </a>
        </li>

        <li>
          <a href={`tel:${BUSINESS.phoneForTel}`} class="cs-link">
            T: {BUSINESS.phoneFormatted}
          </a>
        </li>

        <li>
          <a href={`mailto:${BUSINESS.email}`} class="cs-link">
            {BUSINESS.email}
          </a>
        </li>
      </ul>

    </div>
  </div>

  <!-- BOTTOM -->
  <div class="cs-bottom">
    <span>Designed and Hand Coded by</span>
    <a href="/" target="_blank" rel="noopener">Your Company</a>
    <span> © {currentYear}</span>
  </div>
</footer>