---
// Utils
import { render } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { formatDate } from "@js/utils";
import { getBlogPostingSchema } from "@js/blogPostingSchema.js";
import "@styles/markdown.css";
import "@styles/blog.css";

// Components
import BaseLayout from "@layouts/BaseLayout.astro";
import FeaturedPost from "@components/FeaturedPost/FeaturedPost.astro";
import TableOfContents from "@components/TableOfContents/TableOfContents.astro";
import CTA from "@components/CTA/CTASimple.astro";

const { post } = Astro.props;
const { title, date, description, image, imageAlt, author } = post.data;
const { Content, headings } = await render(post);

// Generate BlogPosting schema
const imageUrl = image.src.startsWith("http") ? image.src : Astro.url.origin + image.src;

const blogPostingSchema = getBlogPostingSchema(
	{
		title,
		description,
		url: Astro.url.href,
		imageUrl,
		imageAlt,
		publishedTime: date.toISOString(),
		modifiedTime: date.toISOString(),
		author,
	},
	Astro.url.origin
);
---

<BaseLayout title={title} description={description} heroImage={image}>
	<!-- Insert BlogPosting Schema via named slot -->
	<script slot="schema" is:inline type="application/ld+json" set:html={JSON.stringify(blogPostingSchema)} />

	<!-- ============================================ -->
	<!--         Blog Article + Sidebar layout        -->
	<!-- ============================================ -->

	<div class="blog-container">
		<!--Main content -->
		<section class="main-content">
			<article class="blog-article">
				<!--Article Info-->
				<header class="blog-header">
					<h1 class="blog-h1">{title}</h1>
					<div class="blog-authorGroup">
						<!--Author Image-->
						<picture class="blog-author-img">
							<Icon name="profile" width="32" height="32" />
						</picture>
						<span class="blog-author">{author}</span>
						<span aria-hidden="true" class="blog-dot"></span>
						<!--Blog Date-->
						<span class="blog-date">{formatDate(date)}</span>
					</div>
				</header>

				<!--Main Article Image-->
				<picture class="blog-mainImage">
					<Image src={image} alt={imageAlt} width="795" height="400" decoding="async" />
				</picture>

				<!-- Mobile Table of Contents -->
				<div class="blog-sidebar_widget-wrapper cs-hide-on-desktop">
					<TableOfContents headings={headings} levels={3} />
				</div>
				<!--Markdown content-->
				<div id="blog-content">
					<Content />
				</div>
			</article>
		</section>
		<!--Side bar-->
		<aside class="blog-sidebar">
			<!-- Desktop Table of Contents -->
			<div class="blog-sidebar_widget-wrapper cs-hide-on-mobile" id="desktop-toc">
				<TableOfContents headings={headings} levels={3} />
			</div>
			<!-- Featured Posts -->
			<div class="blog-sidebar_widget-wrapper">
				<FeaturedPost />
			</div>
		</aside>
	</div>

	<CTA />
</BaseLayout>
